/* Image in Text Box */
.searchTB {
    background-image: url(search_icon.png);
    background-repeat: no-repeat;
    background-size: 25px 25px;
    background-position: 95% center;
    padding-right: 10px;
    font-size: 16px;
    border: 1px solid #CCC;
    border-radius: 6px;
    width: 300px;
    height: 30px;
}

#matches {
    width: 200px;
}

body {
	position: absolute;
	height: 100%;
	width: 100%;
	margin:0;

background: #555555; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover, #555555 0%, #3e3e3e 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#555555), color-stop(100%,#3e3e3e)); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover, #555555 0%,#3e3e3e 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover, #555555 0%,#3e3e3e 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover, #555555 0%,#3e3e3e 100%); /* IE10+ */
background: radial-gradient(ellipse at center, #555555 0%,#3e3e3e 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#555555', endColorstr='#3e3e3e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.container {
  max-width: 400px;
  height: 400px;
  margin-top: 100px;
}

.home_logo {
  margin-left: -15px;
  width: 400px;
}

#home_search {
  width: 200px;
  border:1px solid transparent;
  outline: none;
}

.tt-hint-extra {
  position: absolute; top: 0px; left: 0px; border-color: transparent; box-shadow: none; background-attachment: scroll; background-clip: border-box; background-color: rgb(255, 255, 255); background-image: none; background-origin: padding-box; background-size: auto; background-position: 0% 0%; background-repeat: repeat repeat;width: 200px;height: 25px;background: #eeeeee;   background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%);   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc));   background: -webkit-linear-gradient(top, #eeeeee 0%,#cccccc 100%);   background: -o-linear-gradient(top, #eeeeee 0%,#cccccc 100%);   background: -ms-linear-gradient(top, #eeeeee 0%,#cccccc 100%);   background: linear-gradient(to bottom, #eeeeee 0%,#cccccc 100%);   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 );   background: #eeeeee;   background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%);   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc));   background: -webkit-linear-gradient(top, #eeeeee 0%,#cccccc 100%);   background: -o-linear-gradient(top, #eeeeee 0%,#cccccc 100%);   background: -ms-linear-gradient(top, #eeeeee 0%,#cccccc 100%);   background: linear-gradient(to bottom, #eeeeee 0%,#cccccc 100%);   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 );   background: #eeeeee;   background: -moz-linear-gradient(top, #eeeeee 0%, #eeeeee 100%);   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#eeeeee));   background: -webkit-linear-gradient(top, #eeeeee 0%,#eeeeee 100%);   background: -o-linear-gradient(top, #eeeeee 0%,#eeeeee 100%);   background: -ms-linear-gradient(top, #eeeeee 0%,#eeeeee 100%);   background: linear-gradient(to bottom, #eeeeee 0%,#eeeeee 100%);   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#eeeeee',GradientType=0 );   background: #eeeeee;   background: -moz-linear-gradient(top, #eeeeee 0%, #eeeeee 100%);   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#eeeeee));   background: -webkit-linear-gradient(top, #eeeeee 0%,#eeeeee 100%);   background: -o-linear-gradient(top, #eeeeee 0%,#eeeeee 100%);   background: -ms-linear-gradient(top, #eeeeee 0%,#eeeeee 100%);   background: linear-gradient(to bottom, #eeeeee 0%,#eeeeee 100%);   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#eeeeee',GradientType=0 );   background: #ffffff;   background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5));   background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%);   background: -o-linear-gradient(top, #ffffff 0%,#e5e5e5 100%);   background: -ms-linear-gradient(top, #ffffff 0%,#e5e5e5 100%);   background: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 );   background: #ffffff;   background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed));   background: -webkit-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%);   background: -o-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%);   background: -ms-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%);   background: linear-gradient(to bottom, #ffffff 0%,#f6f6f6 47%,#ededed 100%); font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
}


